src/impy/iamdata/qgsjet/* filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/dpm3/dpmjet.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/epos/epos.ini1b filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/epos/epos.iniev filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/qgsdat-II-03 filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/sectnu-II-03 filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/epos/epos.inics.lhc filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/epos/epos.inirj.lhc filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/SECTNU filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/qgsdat-II-04 filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/sectnu-II-04 filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/dpm3191/CT14LL.pds filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/dpm3191/dpmjet.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/GLAUBTAR.DAT filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/QGSDAT01 filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/NUCLEAR.BIN filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/dpm3/fitpar.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/dpm3191/dpmjpar.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/dpm3191/dpmjpar.dat_higher_diff filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/epos/epos.initl filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/mstw2008lo.00.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/pomactwd14.pds filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/GRS99LOpi.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/mrstlostar.00.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/ct09mc2.pds filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/ct09mcs.pds filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/NNPDF23_lo_as_0130_qed_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Sigmaplus.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Upsilon.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/pomH1FitBlo.data filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/GKG18_DPDF_FitB_LO_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Kplus.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/pomH1Jets.data filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Dsplus.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Sigmacplusplus.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/mrstlostarstar.00.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/NNPDF31sx_nnlonllx_as_0118_LHCb_luxqed_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21eta.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Bszero.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Omegac.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/ct09mc1.pds filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/NNPDF31_lo_as_0130_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/NNPDF31_nlo_as_0118_luxqed_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/NNPDF23_nlo_as_0119_qed_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/NNPDF31_lo_as_0118_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Sigmabplus.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/mstw2008nlo.00.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/GJR07LOproton.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/NNPDF23_lo_as_0119_qed_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/NNPDF31_nnlo_as_0118_luxqed_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Bcplus.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Dzero.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/pomactwb14.pds filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/CT14qed_proton_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/GKG18_DPDF_FitA_LO_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Omegab.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/pomactwd19.pds filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/GKG18_DPDF_FitB_NLO_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Jpsi.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21proton.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/cteq6l.tbl filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/pomH1FitA.data filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/pomH1FitB.data filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Bplus.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Xicplus.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Omega.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/cteq6l1.tbl filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21phi.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/NNPDF23_nnlo_as_0119_qed_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/NNPDF31sx_nlonllx_as_0118_LHCb_luxqed_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21piplus.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/EPS09LOR_208 filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Xizero.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/GRS99LOKplus.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/ctq66.00.pds filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/pomactwsg14.pds filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/GKG18_DPDF_FitA_NLO_0000.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/pdfdata/SU21Xibzero.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/PartonVertexInformation.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/TimelikeShowers.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/QCDSoftProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/SUSYProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/UpdateHistory.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/NewGaugeBosonProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Parallelism.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/QCDLowEnergyProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/HiggsProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/SpacelikeShowers.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/UserHooks.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/PhaseSpaceCuts.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/PythonInterface.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/TopProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/BeamParameters.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ErrorChecks.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ImplementNewShowers.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Bibliography.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/NLOMerging.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/RandomNumberSeed.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/MatchingAndMerging.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/aMCatNLOMatching.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/RandomNumbers.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Version.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/MainProgramSettings.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ParticleDecays.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/PartonDistributions.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/CompositenessProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/FourthGenerationProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/QCDHardProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/MergingVariations.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Diffraction.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/HadronWidths.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/HadronicRescattering.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/FourVectors.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/MultipartonInteractions.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ProgramFlow.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/StandardModelParameters.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/VinciaEW.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/HadronLevelStandalone.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/PartonShowers.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ResonanceDecays.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/LHA.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/SemiInternalProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/EventRecord.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ExtraDimensionalProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/FlavourSelection.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/SampleMainPrograms.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/WeakShowers.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/DireExpert.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ExternalDecays.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/JetFinders.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/PDFSelection.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/BeamShape.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/DireShowers.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/EventAnalysis.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/DarkMatterProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Welcome.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Tunes.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Histograms.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/MasterSwitches.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/RIVETusage.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Index.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/JetMatching.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/LHAHDF5.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/MadGraph5Processes.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/SimpleShowers.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/CrossSectionsAndWeights.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ExampleKeywords.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/HeavyIons.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ProgramMethods.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/VinciaMerging.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/BoseEinsteinEffects.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ColourReconnection.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/OniaProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Frontpage.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ROOTusage.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/VinciaMECs.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/BeamRemnants.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ProgramClasses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/RopeHadronization.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/RHadrons.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Vincia.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/EventStatistics.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Fragmentation.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/LeftRightSymmetryProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/LeptoquarkProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ParticleDataScheme.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ProcessSelection.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Glossary.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/HadronVertexInformation.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/HiddenValleyProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/CKKWLMerging.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/SaveSettings.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/SettingsScheme.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/NucleonExcitations.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/SemiInternalResonances.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/TotalCrossSections.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ElectroweakProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/HepMCInterface.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/HadronWidths.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Photoproduction.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/HelacOniaProcesses.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/LHEF.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/SecondHardProcess.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/UMEPSMerging.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/AlpgenEventInterface.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/CouplingsAndScales.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/GettingStarted.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/AdvancedUsage.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/EventInformation.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ImplementNewMatching.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/SUSYLesHouchesAccord.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/DireWeights.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ParticleData.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/VinciaQCD.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ProgramFiles.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/Variations.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/DeuteronProduction.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/POWHEGMerging.xml filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/Pythia8/xmldoc/ParticleProperties.xml filter=lfs diff=lfs merge=lfs -text
