[submodule "src/dpmjetIII-19.1"]
	path = src/fortran/dpmjetIII-19.1
	url = git@github.com:DPMJET/DPMJET.git
[submodule "src/dpmjetIII-19.3"]
	path = src/fortran/dpmjetIII-19.3
	url = git@github.com:DPMJET/DPMJET.git
[submodule "src/cpp/pybind11"]
	path = src/cpp/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "src/cpp/pythia8308"]
	path = src/cpp/pythia83
	url = https://gitlab.com/Pythia8/releases.git
