[submodule "src/hepmc3"]
	path = src/pyhepmc/hepmc3
	url = https://gitlab.cern.ch/hepmc/HepMC3.git
[submodule "src/pybind11"]
	path = src/pyhepmc/pybind11
	url = https://github.com/pybind/pybind11.git
