venv*
*.dSYM
**.o
**.so
**.pyc
**.pyd
**.mod
.ipynb*
nul
fort.7
output_urtest.txt
tables.dat
*.f2l
.vscode/*
src/dpmjet3.0-6/dpm3usr
src/urqmd-3.4/terms.mod
dev
.cache
build*/**
dist/*
*.egg-info
test_hepmc_writer_*.dat
chromo/tests/*.pkl
.DS_Store
# LLVM stuff
*.stb
*.ilm
*.cmdx
*.cmod
*.o-*
__pycache__
.pytest_cache
.benchmarks
*.dat
*.hepmc
*.root
*.gz
models.cfg
pythia*.tgz
numpy*.zip
impy-?.?.?
src/chromo/iamdata
fig/*
bench/timing.pkl