src/impy/iamdata/qgsjet/* filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/dpm3/dpmjet.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/epos/epos.ini1b filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/epos/epos.iniev filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/qgsdat-II-03 filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/sectnu-II-03 filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/epos/epos.inics.lhc filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/epos/epos.inirj.lhc filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/SECTNU filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/qgsdat-II-04 filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/sectnu-II-04 filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/dpm3191/CT14LL.pds filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/dpm3191/dpmjet.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/GLAUBTAR.DAT filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/QGSDAT01 filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/qgsjet/NUCLEAR.BIN filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/dpm3/fitpar.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/dpm3191/dpmjpar.dat filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/dpm3191/dpmjpar.dat_higher_diff filter=lfs diff=lfs merge=lfs -text
src/impy/iamdata/epos/epos.initl filter=lfs diff=lfs merge=lfs -text
