include *.py
include *.cmake
include pyproject.toml
include CMakeLists.txt
exclude examples/*.ipynb
exclude tests/*
exclude bench/*
exclude Makefile
exclude .gitmodules
exclude .pre-commit-config.yaml
recursive-include src/impy/iamdata *
recursive-include src/f2py *
recursive-include src/fortran *
recursive-include src/cpp/pybind11/include *
include src/cpp/pybind11/CMakeLists.txt
include src/cpp/pybind11/LICENSE
exclude src/cpp/pybind11/docs/*
exclude src/cpp/pybind11/tests/*
exclude src/cpp/pybind11/pybind11
exclude src/cpp/pybind11/.*
include src/cpp/pybind11/tools/*
include src/cpp/_pythia8.cpp
recursive-include src/cpp/pythia8307/include *
recursive-include src/cpp/pythia8307/src *
include src/cpp/pythia8307/COPYING
include src/cpp/pythia8307/AUTHORS