include *.py
include *.cmake
include pyproject.toml
include CMakeLists.txt
include default_models.cfg
recursive-exclude src/chromo/iamdata *
recursive-include src/fortran *
recursive-include src/cpp/pybind11/include *
include src/cpp/pybind11/CMakeLists.txt
include src/cpp/pybind11/LICENSE
include src/cpp/pybind11/tools/*
include src/cpp/_pythia8.cpp
recursive-include src/cpp/pythia83/include *
recursive-include src/cpp/pythia83/src *
include src/cpp/private_access.hpp
include src/cpp/pythia83/COPYING
include src/cpp/pythia83/AUTHORS

global-exclude .git*
global-exclude *.tgz
global-exclude *.ipynb
global-exclude __pycache__
global-exclude Makefile
global-exclude .*.yaml
prune tests
prune bench
prune build
prune src/cpp/pybind11/docs
prune src/cpp/pybind11/tests
prune src/cpp/pybind11/pybind11
prune src/cpp/pybind11/.github